<div class="top">
<h1>Slides</h1>
</div>
<div class="reveal adjust">
    <div class="slides">
        <section>
            <h2>I am a header</h2>
        </section>
        <section>
            <mat-card>
                   
                 <div class="slide-header">
                    <h2>Who Am I</h2>
                 </div>
                 <div class="slide-body">
                    <ul>
                      <li>Experienced Developer</li>
                      <li>Experienced Architect</li>
                      <li>Polymath</li>
                    </ul>
                 </div>

   

            </mat-card>
        </section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
        </section>
        <section data-state="make-it-pop">Slide 2</section>
        <!-- data-visibility="uncounted"-->
        <section data-markdown>
            <textarea data-template>
                ## Slide 1
                A paragraph with some text and a [link](http://hakim.se).
                ---
                ## slide 2
                ---
                ## slide 3
            </textarea>
        </section>
    </div>
</div>
