<div class="top">
</div>
<div class="reveal adjust">
    <div class="slides" style="margin-top: -1.5em;">
        <section class="card">
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Dmitry Roitman</span></h3>
                 </div>
                 <div class="slide-body" style="width:100%;text-align: center;">
                  Personal Pitch Deck - 2022
                 </div>
            </mat-card>
        </section>
        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Who Am I</span></h3>
                 </div>
                 <div class="slide-body">
                    <ul style="font-size: 0.76em;">
                      <li>An Experienced Developer</li>
                      <li>An Experienced Architect</li>
                      <li>A Mature Technologist with Elegant and Visionary Approaches</li>
                      <li>A Problem Solver</li>
                      <li>A Curious Innovator</li>
                      <li>A Polymath</li>
                    </ul>
                 </div>
            </mat-card>
        </section>
        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Services I provide</span></h3>
                 </div>
                 <div class="slide-body">
                    <div class="flex-box-container">
                           <div class="flex-box-item">


								<mat-card class="story-card">
								  <mat-card-header>
								    <mat-card-title style="color:#2B95EB">Grounded In</mat-card-title>
								    <mat-card-subtitle>Things I consider to be foundational</mat-card-subtitle>
								  </mat-card-header>
								  <mat-card-content class="story-body">
								       <ul style="margin-left: -2.2em;">
								           <li>Real Research Results, not Unsafe Assumptions</li>
								           <li>Brilliant Sophistication, not Inessential Compexity</li>
								           <li>Thoughtful Innovation, Not Obsession with Tooling</li>
								           <li>Addressing Tradeoffs, Not Accumulating Technical Debt</li>
								           <li>Documented, Articulate Process, not Reverse Engineering</li>
								           <li>Productive Cooperation, not Friction or Agendas</li>
								       </ul>
								  </mat-card-content>
								</mat-card>                       
 
                           </div>
                           <div class="flex-box-item">
								<mat-card class="example-card">
								  <mat-card-header>
								    <mat-card-title style="color:#2B95EB">Things I do</mat-card-title>
								    <mat-card-subtitle>Problems I solve</mat-card-subtitle>
								  </mat-card-header>
                                  <mat-card-content class="story-body">
                                       <ul style="margin-left: -2.2em;">
                                           <li>Design Efficient Software at any scale and scope.</li>
                                           <li>Architect and Scale Software</li>
                                           <li>Build APIs, SAAS, Infrastructure, Integration, Messaging, Batch processing.</li>
                                           <li>Select and Implement Architecture Styles based on specifics of project.</li>
                                           <li>Make Technology Choices, provide Technology Leadership</li>
                                           <li>Coach, Share Knowledge, Educate, Communicate, Document Projects</li>
                                           <li>Select and Implement Front End strategy and stack</li>
                                           <li>Big Data and Warehousing, Pipelines, Batch and Streaming</li>
                                       </ul>
                                  </mat-card-content>
								</mat-card>
                           </div>
                           <div class="flex-box-item">
								<mat-card class="example-card">
								  <mat-card-header>
								    <mat-card-title style="color:#2B95EB">I will help you to</mat-card-title>
								    <mat-card-subtitle>Skills I have</mat-card-subtitle>
								  </mat-card-header>
								  <mat-card-content>
                                       <ul style="margin-left: -2.2em;">
                                           <li>Implement successful growth strategy.</li>
                                           <li>Provide extensive guidance on best practices.</li>
                                           <li>Govern complexity and minimize technical debt.</li>
                                           <li>Architect your systems for best scaling outcomes.</li>
                                           <li>Build teams that utilize individual strengths.</li>
                                           <li>Build efficient communication via efficient process.</li>
                                           
                                       </ul>
								  </mat-card-content>
								</mat-card>
                           </div>
                    </div>
                 </div>
            </mat-card>
        </section>


        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Knowledge and Experience</span></h3>
                 </div>
                 <div class="slide-body">
                    <div class="flex-box-container">
                           <div class="flex-box-item" style="width:48%;">


                                <mat-card class="story-card">
                                  <mat-card-header>
                                    <mat-card-title style="color:#2B95EB">Software Architecture</mat-card-title>
                                    <mat-card-subtitle>How I utilize my architecture skills</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content class="story-body">
                                       <ul style="margin-left: -2.5em;font-size:0.90em;width:36em;">
                                           <li>I architect software of any size and complexity</li>
                                           <li>I aim for architecture to reflect and optimize channels<br/>
                                               of communication within company to let it evolve and improve.</li>
                                           <li>I communicate early and build efficient feedback loop</li>
                                           <li>I encourage knowledge exchange and productive teamwork</li>
                                           <li>I know how to utilize individual skills and aspirations</li>
                                           <li>I help utilizing individual strengths to their best</li>
                                           <li>I aim at removing complexity and optimizing communication</li>
                                           <li>I treat each project as a problem that reflects organization</li>
                                           <li>I strategize choices based on data, feedback, interactions</li>
                                           <li>I provide leadership, mentorship and guidance for technology</li>
                                           <li>I follow architecture styles that reflect business structure<br>
                                               and business priorities, team communications and culture.</li>
                                       </ul>
                                  </mat-card-content>
                                </mat-card>                       
 
                           </div>
                           <div class="flex-box-item" style="width:52%;">
                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <mat-card-title style="color:#2B95EB">Software Developemnt</mat-card-title>
                                    <mat-card-subtitle>How I utilize my development skills</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content class="story-body">
                                       <ul style="margin-left: -2.5em;width:34.5em;font-size:0.96em;">
                                           <li>I do extensive research for technology and solutions available.</li>
                                           <li>I discuss with teams their skills and attitudes toward technologies.</li>
                                           <li>I aim simplicity and removing complexity.</li>
                                           <li>Pull requests and code reviews are a common practice for accountability.</li>
                                           <li>Technology choices should consider future versioning, community, <br/>
                                               known issues, maintainability, learning curves and onboarding times.</li>
                                           <li>Development should include tests and code should be self-documenging<br/>
                                               where applicable, good code is a readoable code.</li>
                                           <li>Complexity should be justified by functional requirements and quality atttibutes.</li>
                                           <li>Working code that can't be maintained won't scale, so workability is<br/>
                                               not the only criteria. Complexity and technical debt shold be justified.</li>
                                           <li>Within the teams I work I encourage best practices, sharing knowledge, <br/>
                                               consensual operations and accountability with deployments and code practices.</li>

                                       </ul>
                                  </mat-card-content>
                                </mat-card>
                           </div>
                  
                    </div>
                 </div>
            </mat-card>
        </section>

        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">My Story At a Glance</span></h3>
                 </div>
                 <div class="slide-body">
                    <div class="flex-box-container">
                           <div class="flex-box-item" style="width:29%;">


                                <mat-card class="story-card">
                                  <mat-card-header>
                                    <mat-card-title style="color:#2B95EB">Early Years</mat-card-title>
                                    <mat-card-subtitle>1995-2000</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content class="story-body">
                                       <ul style="margin-left:-2.5em;font-size:0.9em;">
                                           <li>Learned in University of Haifa for B.SC<br/>
                                                in Math and Computer Science</li>
                                           <li>Got exposure to architectures, design <br/>
                                               patterns, algorithms, data stractures, <br/>
                                               Operating Systems, Compilers.</li>
                                           <li>Got hired for first position as Java <br/>
                                               Developer in Israel, got my first<br/>
                                               experience in building enterprise <br/>
                                               software. </li>
                                       </ul>
                                  </mat-card-content>
                                </mat-card>                       
 
                           </div>
                           <div class="flex-box-item" style="width:29%;">
                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <mat-card-title style="color:#2B95EB">2000-2010</mat-card-title>
                                    <mat-card-subtitle >Reflection and Re-Prioritization</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content class="story-body">
                                       <ul style="margin-left:-2.5em;font-size:0.9em;">
                                           <li>Worked as J2EE Developer in payment<br/>
                                               processing and banking.</li>
                                           <li>Got hands dirty building Enterprise<br/>
                                               Java banking and payment middleware<br/>
                                               using distributed messaging.</li>
                                           <li>Built RESTful APIs using Java.<br/></li>
                                           <li>Got experience building messaging <br/>
                                               infrastructure using Java.</li>
                        
                                           <li>Earned architecture and<br/>
                                               communication skills.</li>
                                           <li>Improved and enriched my Linux, <br/>
                                               Virtualization and Cloud skills</li>
                                            <li>Got exposure to analytics and BI</li>
                                       </ul>
                                  </mat-card-content>
                                </mat-card>
                           </div>
                           <div class="flex-box-item" style="width:42%; font-size:0.9em;">
                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <mat-card-title style="color:#2B95EB">2010-Now</mat-card-title>
                                    <mat-card-subtitle>Mature and Experienced</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content>
                                       <ul style="margin-left:-1.5em;">
                                           <li>Became curious with Python and Go stacks as tools for building web apps.</li>
                                           <li>Got deeper into Business Intelligence and Insightful Analytics field</li>
                                           <li>Learned Django and Flask, Helped early stage startups to prioretize stacks and technology vision</li>
                                           <li>Improved and diversified my architecture, <br/>
                                               Linux, Back End and Front End skills.</li>
                                           <li>Got experience with cloud, load balancers, scaling and migrating relational databases</li>
                                           <li>Got experience with Data Engineering, warehousing, batch processing and low latency messaging</li>
                                           <li>Developed vision and phylosophy for optimal technology strategies</li>
                                       </ul>
                                  </mat-card-content>
                                </mat-card>
                           </div>
                    </div>
                 </div>
            </mat-card>
        </section>
        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Recent Roles and Achievements</span></h3>
                 </div>
                 <div class="slide-body">
                    <div class="flex-box-container">
                           <div class="flex-box-item" style="width:57%;">


                                <mat-card class="story-card">
                                  <mat-card-header>
                                    <mat-card-title><span style="color:#2B95EB">1010Data</span></mat-card-title>
                                    <mat-card-subtitle>2018-2021 - Solutions Architect</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content class="story-body">
                                       <ul style="width:37em;margin-left:-2.0em;font-size:0.9em;">
                                           <li>I worked with team of data engineers to build pipelines.</li>
                                           <li>I became hands-on architect with impact on technology
                                               choices, solutions provided and teams participating.</li>
                                           <li>I learned a lot about Business Intelligence and Data
                                               Engineering, low latency messaging and batch processing,
                                               warehousing and Big Data technologies.</li>
                                           <li>I was trusted to architect, build and scale enterprise
                                               data solutions for batch processing and streaming 
                                               for insightful analytics used by large retailers to
                                               make their business decisions more mindful of data.</li>
                                           <li>As an architect I had to work across multiple teams
                                               and stacks, build Proof of Concept pilots, articulate
                                               benefits, communicate stakehoders and build apps</li>
                                           <li>I had a chance to work with large array of cloud
                                               and monitoring tools for insfrastructure and pipelines.</li>
                                       </ul>
                                  </mat-card-content>
                                </mat-card>                       
 
                           </div>
                           <div class="flex-box-item" style="width:43%;">
                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <mat-card-title><span style="color:#2B95EB">Legend Energy Advisors</span></mat-card-title>
                                    <mat-card-subtitle>2021-2022 - Senior Staff Engineer</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content class="story-body">
                                       <ul style="margin-left: -2.0em; font-size:1.0em;width:28em;">
                                           <li>I was trusted to re-architect the BI platform</li>
                                           <li>I have built several internal monitoring tools</li>
                                           <li>I futher improved my Linux/Virtualization skills</li>
                                           <li>I helped company to get better clients with features,
                                               capabilities and skills better articulated</li>
                                           <li>I've built both Back End and Front End.</li>
                                           <li>I had extensive discussins with stakeholders.</li>
                                           <li>I've built Proof of Concept Dashboards and Charts.</li>
                                           <li>I helped to streamline data transformations</li>
                                           <li>I designed the Front End for better usability.</li>
                                           <li>I managed virtualization and deployments.</li>
                                           <li>I expanded my horizons in Business Intelligence.</li>
                                           <li>I gained great experience building analytics and<br/>
                                               business intelligence platforms.</li>
                                       </ul>
                                  </mat-card-content>
                                </mat-card>
                           </div>
                           <!--
                           <div class="flex-box-item">
                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <mat-card-title><span style="color:#2B95EB">Lessons I Learned</span></mat-card-title>
                                    <mat-card-subtitle>Small Summary</mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content>
                                       <ul>
                                           <li>Implement successful growth strategy.</li>
                                           <li>Provide extensive guidance on best practices.</li>
                                           <li>Govern complexity and minimize technical debt.</li>
                                           <li>Architect your systems for best scaling outcomes.</li>
                                           <li>Build teams that utilize individual strengths.</li>
                                           <li>Build efficient communication via efficient process.</li>
                                           
                                       </ul>
                                  </mat-card-content>
                                </mat-card>
                           </div>
                       -->
                    </div>
                 </div>
            </mat-card>
        </section>

    
        <section>
            <mat-card class="card">
                 <div class="slide-header" style="margin-top:-0.7em;">
                    <h3><span class="header-span">Why Me</span></h3>
                 </div>
                 <div class="slide-body">
                    <ul style="font-size: 0.76em;margin-top:-2.2em;">
                      <li>Efficient Research Practices based on Critical Thinking and Verified Assumptions</li>
                      <li>Versatile Background</li>
                      <li>Sophistication, Not Complexity</li>
                      <li>Thoughtful Innovation</li>
                      <li>Scaling is a Priority From the Start</li>
                      <li>Creativity and Curiosity</li>
                      <li>Depth of Knowledge</li>
                      <li>Breadth of Knowledge</li>
                      <li>Ability to work with uncertain and fuzzy environments</li>
                      <li>Strong Leadership</li>
                    </ul>
                 </div>
            </mat-card>
        </section>

       <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">How I Work</span></h3>
                 </div>
                 <div class="slide-body">
                    <ul style="font-size: 0.76em;">
                      <li>Each Project is the area of innovation and human creativity.</li>
                      <li>Each project reflects a vision of a company, so help it grow and scale.</li>
                      <li>There will be uncertainty and fuzziness, don't let it intimidate you, build communication.</li>
                      <li>Thoughtful Innovation</li>
                      <li>Creativity and Curiosity</li>
                    </ul>
                 </div>
            </mat-card>
        </section>

        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Core Values</span></h3>
                 </div>
                 <div class="slide-body">
                    <ul style="font-size: 0.76em;"> 
                      <li>Intellectual Honesty. I don't procrastinate things that absolutely must be done.
     I don't look for ways not to do things - I solve problems by properly separating
     root auses and effects and addressing the root causes.</li>
                      <li>Accountability</li>
                      <li>Persistance</li>
                      <li>Resilience</li>
                      <li>Curiosity and Innovation</li>
                    </ul>
                 </div>
            </mat-card>
        </section>

        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Core Competencies</span></h3>
                 </div>
                 <div class="slide-body">
                    <ul>
                      <li>Persistence</li>
                      <li>Innovative Thinking</li>
                      <li>Curiosity and Hunger for Knowledge</li>
                      <li>Resilience</li>
                    </ul>
                 </div>
            </mat-card>
        </section>

        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">And This Is Also Me</span></h3>
                 </div>
                 <div class="slide-body">
                    <ul style="font-size: 0.76em;">
                      <li>As a curious innovator, I improve my skills when time allows - I learn new reasearches, read articles, help others learn.</li>
                      <li>As a classically educated musician, I compose multi-instrumental musical compositions.</li>
                      <li>I'm aspiring author looking into becoming a published with a lot of material from real life.</li>
                      <li>I build side projects using most efficient stacks.</li>
                      <li>I answer questions on stackoverflow.</li>
                      <li>I produce video materials and do 3D design and animations</li>
                    </ul>
                 </div>
            </mat-card>
        </section>
        <section>
            <mat-card class="card">
                 <div class="slide-header">
                    <h3><span class="header-span">Let's Work Together!</span></h3>
                 </div>
                 <div class="slide-body">
                    <ul>
                      <li>Persistence</li>
                      <li>Innovative Thinking</li>
                      <li>Curiosity and Hunger for Knowledge</li>
                      <li>Resilience</li>
                    </ul>
                 </div>
            </mat-card>
        </section>

    </div>
</div>
<div class="footer">&nbsp;</div>
